@model PROYECTO_TP_PNT1.Models.Reserva

@{
    ViewData["Title"] = "Create";
}


<div class="row" id="formulario">
    <h1 class="titulo-cliente">CREAR NUEVA RESERVA</h1>
    <hr />
    <div class="col-md-4">
        @* este formulario llama al metodo Create y por eso luego podemos acceder a las listas que estan creadas en la accion *@
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="entrada" class="control-label"></label>
                <input asp-for="entrada" class="form-control" />
                <span asp-validation-for="entrada" class="text-danger" id="danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salida" class="control-label"></label>
                <input asp-for="salida" class="form-control" />
                <span asp-validation-for="salida" class="text-danger"></span>
            </div>
            <span>
                @ViewBag.ReservaExistente
            </span>
            <div class="form-group">
                <h5>Seleccionar Alojamiento</h5>
                @*//con el new SelectList traemos el ViewBag que contiene la lista, a partir de su ID *@
                <select id="select" asp-for="idAlojamiento" asp-items="@(new SelectList(ViewBag.almessage,"idAlojamiento", "nombre"))">
                    <option selected="selected" value=""> Seleccionar alojamiento </option>
                </select>

            </div>
            <div class="form-group">
                <h5>Seleccionar Cliente</h5>
                <select id="select" asp-for="idCliente" asp-items="@(new SelectList(ViewBag.clmessage,"idCliente","nombre"))">
                    <option selected="selected" value=""> Seleccionar cliente </option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="cantPersonas" class="control-label"></label>
                <input asp-for="cantPersonas" class="form-control" min="1" />
                <span asp-validation-for="cantPersonas" class="text-danger"></span>
                <span>
                    @ViewBag.ErrorHabitaciones
                </span>
            </div>


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="desayuno" /> @Html.DisplayNameFor(model => model.desayuno)
                </label>
            </div>

            <div class="form-group" id="botones-form">
                <input type="submit" value="Crear" id="button1" class="btn btn-success bg-success" />

                <a asp-action="Index" class="btn bg-dark boton-volver">Volver</a>

            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}